@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.scrollbar-hide::-webkit-scrollbar {
  width: 0px;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just to make sure */
  
}

.scrollbar-thumb-custom {
  scrollbar-color: #8200cd transparent; /* Firefox */
  scrollbar-width: thin;  /* Firefox */
  
  
}

.scrollbar-thumb-custom::-webkit-scrollbar {
  
  width: 5px;
}

.scrollbar-thumb-custom::-webkit-scrollbar-thumb {
  background-color: #6600b4a2; /* Tailwind gray-500 */
  border-radius: 10px;
}

.scrollbar-thumb-custom::-webkit-scrollbar-track {
  background: transparent; 
  
}
